<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Attendance Monitoring</title>

        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}" />
    </head>
    <body class="d-flex align-items-center">
        <main class="m-auto p-3 w-100 shadow-sm bg-white" style="max-width: 24rem;">
            <form action="" method="post">
                {{ form.hidden_tag() }}

                <div class="text-center">
                    <img
                        src="{{ url_for('static', filename='img/asscat_logo.webp') }}"
                        alt="Attendance Monitoring"
                        width="96"
                        height="96"
                    />
                </div>

                <fieldset class="mt-3">
                    {{ form.email.label(class="form-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid", autofocus=true) }}
                    {% else %}
                        {{ form.email(class="form-control", autofocus=true) }}
                    {% endif %}

                    {% if form.email.errors %}
                        <div class="invalid-feedback">{{ form.email.errors }}</div>
                    {% endif %}
                </fieldset>

                <fieldset class="mt-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </fieldset>

                {{ form.submit(class="btn mt-3 w-100 btn-primary") }}
            </form>
        </main>

        {{ bootstrap.load_js() }}
    </body>
</html>
